<div class="nav">
    <ul class="div9">
    
    
    <li>
      <%= link_to 'About', "https://www.fortishealthcare.com/about-us" %>
    </li>
    <li>
      <%= link_to 'Career', "/career" %>
    </li>
    
    
    <li>
      <%= link_to 'Contact Us',"https://www.fortishealthcare.com/contact-us"%>
    </li>
    <li>
      <%= link_to 'CSR',"https://www.fortishealthcare.com/csr"%>
    </li>
    <li>
      <%= link_to 'Home', "/" %>
    </li>
    
    
  </ul>
  </div>