<center>
	<h1>Enter Details</h1> <br>
	<%= form_for @employee ,url: "" ,:html => {:id => "submit"} do|form|%>
<%= form.text_field :employee_code,placeholder:"Enter Your Employee Code"%><br><br>
<%= form.text_field :first_name,placeholder:"Enter Your First Name"%><br><br>
<%= form.text_field :last_name,placeholder:"Enter Your Last Name"%><br><br>

<%= form.select :gender_id, options_from_collection_for_select(Gender.all,:id,:name),{prompt: 'Select Gender',required: true}%>
<br><br>
Date Of Birth
<br>
 <%= date_field_tag :date_of_birth, Date.today%>

 <br><br>
 <%= form.text_field :email,placeholder:"Enter Your Email"%><br><br>

 <%= form.password_field :password,  placeholder: "Password" %><br><br>

<%= form.text_field :current_CTC,placeholder:"Enter Your Current CTC"%><br><br>

<%= form.text_field :designation ,placeholder:"Enter Your Designation" %><br><br>

<%= form.select :department_id, options_from_collection_for_select(Department.all, :id, :name), {prompt: 'Select Department', required: true} %>
<br><br>
<%= form.select :role_id, options_from_collection_for_select(Role.all, :id, :name), {prompt: 'Select Role', required: true} %>
<br><br>
<%= label_tag 'Skills'%><br>
 <%= form.check_box :skill, {:class => "myclass", :style => "mystyle", name: 'skill[]'}, "ruby", true %> Ruby
	<%= form.check_box :skill, {:class => "myclass", :style => "mystyle", name: 'skill[]'}, "rails", true %>
	 Rails
	 <%= form.check_box :skill, {:class => "myclass", :style => "mystyle", name: 'skill[]'}, "php", true %> PHP
	<%= form.check_box :skill, {:class => "myclass", :style => "mystyle", name: 'skill[]'}, "html", true %> HTML
	<%= form.check_box :skill, {:class => "myclass", :style => "mystyle", name: 'skill[]'}, "css", true %> CSS
	<%= form.check_box :skill, {:class => "myclass", :style => "mystyle", name: 'skill[]'}, "postgresql", false %> Postgresql
	<br>
	<br>
<%= form.submit "Submit Your Details"%>


<% end %>
</center>


<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
      <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
      <script>
        $("#submit").validate({
          rules:{
           employee[first_name]:{
              required:true,
              minlength:2,
              maxlength:30
            },
            last_name:{
              required:true,
              minlength:2,
              maxlength:30
            },
            employee_code:{
              required:true,
              number:true,
              maxlength:5,
              minlength:2
            },
            email:{
              email:true,
              maxlength:70,
              minlength:8
            },
            current_CTC:{
              number:true,
              maxlength:8,
              minlength:4
            },
            designation:{
              required:true,
              maxlength:20,
              minlength:2
            },
            password:{
              required:true,
              password:true,
              maxlength:15
              minlength:4
            }
          }
        });
      </script>