<table style="width:100%">
	<tr>
		<th>
			Employee Code:
		</th>
			<td>
			<%= @employee.employee_code %>
		</td>
	</tr>
	<tr>
		<th>
			Name
		</th>
	
		<td>
			<%= @employee.first_name %> <%= @employee.last_name %>
		</td>
	</tr>
	<tr>
		<th>
			Gender
		</th>
		<td>
			<%= @employee.gender.name if @employee.gender.present? %>
		</td>
	</tr>
	<tr>
		<th>
			Email Address
		</th>
		<td>
			<%= @employee.email %>
		</td>  
	</tr>
	
	<tr>
		<th>
			Current Salary
		</th>
		<td>
			<%= @employee.current_CTC %>
		</td>
	</tr>
	<tr>
		<th>
			Date of Birth
		</th>
		<td>
			<%= @employee.date_of_birth %>
		</td>
	</tr>
	<tr>
		<th>
			Department
		</th>
		<td>
			<%= @employee.department.name %>
		</td>
	</tr>
	<tr>
		<th>
			Role
		</th>
		<td>
			<%= @employee.role.name %>
		</td>
	</tr>
	<tr>
		<th>
			Skill
		</th>
		<td>
			<%= @employee.skill %>
		</td>
	</tr>
	<tr>
		<th>
			Designation
		</th>
		<td>
			<%= @employee.designation %>
		</td>
	</tr>
</table>
<center>
<% if current_user.role.name == "CEO"%>
<%= link_to 'Update Your Value',"/employee/#{@employee.id}/edit"%><br>
<%= link_to 'Delete this record',@employees, method: :delete, data: {confirm: 'Are You Sure?'}%>
<br>

<% elsif current_user.role.name == "HR"	%>
<%= link_to 'Update Your Value',"/employee/#{@employee.id}/edit"%><br>

<% else%>
<%= ""%>
<% end %>

<%= link_to 'back',"/"%>
</center>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse
}
th, td {
  padding: 10px;
  text-align: left;
  }
</style>