	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<div class="nav">
		<ul class="div9">
		
		
		<li>
			<%= link_to 'About', "https://www.fortishealthcare.com/about-us" %>
		</li>
		<li>
			<%= link_to 'Career', "/career" %>
		</li>
		
		
		<li>
			<%= link_to 'Contact Us',"https://www.fortishealthcare.com/contact-us"%>
		</li>
		<li>
			<%= link_to 'CSR',"https://www.fortishealthcare.com/csr"%>
		</li>
		<li>
			<%= link_to 'Home', "https://www.fortishealthcare.com/" %>
		</li>
		
		
	</ul>
	</div>
<div class="img">
	<center>
	<img src="assets/Home/logo.png"  alt="logo" width="150" 
	height="50" >
	</center>
</div>
	<br>
<div>
	<div class="left_side_up">
		<img src="assets/Home/1.jpg" width="100%" height="500">
	<br>
	</div >
	
	
	
	<div class="rigth_side_up">
		
			
		<div class="form">
			<h2 class="req">
				Request An Appointmnet
			</h2>
			<form action="" method="get" id="form1">
			<input type="text" name="first_name" placeholder="First Name*" style="width: 400px" />
			<br> 
			<br>
			<input type="text" name="last_name" placeholder="Last Name*" style="width: 400px" />
			<br>
			<br>
			Gender:<br>
			<input type="radio" name="gender" value="male" checked>Male
			<input type="radio" name="gender" value="female">Female
			<input type="radio" name="gender" value="other">Other
			<br>
			<br>
			<input type="email" id="email" name="email" placeholder="Your Email Address*" style="width: 400px" />
			<br>
			<br>
			<input type="text" id="foc" name="phone_number" placeholder="Your Contact Number" style="width: 400px" />	
			<br>
			<br>
			Diseases:<br>
			<input type="checkbox" name="disease" value="sugar">I have Sugar
			<input type="checkbox" name="disease" value="highbp">I have High Blood Pressure
			<input type="checkbox" name="disease" value="lowbp">I have Low Blood Pressure
			<input type="checkbox" name="disease" value="migrain">I am having Migrains
			<br>
			<br>
			<select name="city">
				<option value="select_city">SELECT CITY*</option>
				<%@cities.each do|city|%>

				<option>
					 <%=city.name%>
				</option>	
					
					<%end%>				

			</select>
			<br>
			<br>
			<input type="area" id="comment" name="comment" placeholder="Comments*" style="width: 600px">
			<br>
			<br>

			<center>
			<input type="reset" name="Reset">
			<input type="submit" name="Submit">
			</center>
			</form>


			<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
			<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
			<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>


		</div>
		
	</div>
	
</div>
<div class="div1">
	<center>
		<pre class="text1">
	Pay online and get 10% off on Doctor Consultation. 
	Download 
	<%=link_to 'My Fortis App', "/mobile" %>
	 app

	50% off on Doctor Consultations for Senior Citizens
		</pre>
	</center>
</div>
<div class="div2">
	<center>
		<h1>Welcome All</h1>
	</center>
</div>
	<center>
		<div class="div3">
			<h2>
				List of Doctors In Our Organization
			</h2>
		</div>
	</center>
<center>
	<div class="doctor">
		<ul>
			<% @doctors.each do|doctor|%>
			<li class="div5">
				<a href=""><%=doctor.name%></a>
			</li>
			<%end%>
		</ul>
	</div>
</center>
	<div class="div7">
		<h1>About Fortis</div<h1>
	</div>
		<br>
		<div class="div6">
		<pre>
We are one of India’s leading brand in the healthcare service industry. Our portfolio of services comprises of super-speciality hospitals, diagnostics and daycare facilities.


With <strong>10000 patient beds </strong> and <strong>314 diagnostic centres,</strong> the <strong>brand 

operates 45 healthcare </strong> facilities in <strong> 4 countries.</strong>

		</pre>
	</div>
	<div>
		<div class="left_side">
			<div>
				<h1 class="div7">
					Why choose us?
				</h1>
			</div>
			<div>
				<ul class="div8">
					<li>
						Experienced doctors backed by highly skilled paramedics
					</li>
					<br>
					<li>
						JCI and NABH certified hospitals
					</li>
					<br>
					<li>
						Best in class medical services
					</li>
					<br>
					<li>
						State of the art medical technology
					</li>
				</ul>
			</div>
		</div>
		<div class="rigth_side">
			<img src="/assets/Home/why-choose-us.png" width="100%">
		</div>
	</div>
	<div>
		<h1 class="div7">
			SOME OF OUR KEY SPECIALITIES ARE:
		</h1>
	</div>
	<div>
		<div class="left_side_up">
			<img src="assets/Home/Neurology.jpg">
		</div>
		<div class="rigth_side_up">
			<p style="font-size: 40px;color: green;"><b>Neurology</b></p>
			<pre class="neurology">
The Department of Neurology is committed to integrating their exceptional medical 
expertise,technology and innovation to offer best in class treatments. The department 
is staffed leading panel of surgeons, doctors and nursing staff who offer cutting-edge 
diagnosis using the latest neuroimaging techniques.

The department provides treatment for people with neurological disorders such as:
			</pre>
			<ul class="div10">
				<li>
					Parkinson’s disease
				</li>
				<li>
					Stroke
				</li>
				<li>
					Epilepsy
				</li>
				<li>
					Diagnosis and treatment of paralytic disorders
				</li>
				<li>
					Sleep disorders
				</li>
				<li>
					Multidisciplinary assessment and management of multiple sclerosis, 
					and headaches
				</li>
			</ul>
		</div>
	</div>
		

		<footer >
			<div class="left_side">
			© 2018 Fortis Healthcare. All Rights Reserved.
		</div>
		<div class="rigth_side">

			Terms & Conditions Apply
		
			
		</div >

		<script>
			$("#form1").validate({
					  rules: {
					    email: {
					      required: true,
					      email: true,
					      maxlength: 255
					    },
					    first_name: {
					    	required: true,
					    	maxlength: 15
					    },
					    last_name: {
					    	required: true,
					    	maxlength: 15
					    },
					    phone_number: {
					    	required: true,
					    	minlength: 9,
					    	maxlength: 10,
					    	number: true
					    }
					    

					}
					});
		</script>
		</footer>
	</div>