

<table class="table table-dark table-hover" id="dtta" >
    <thead>
      <tr>
      	<th>Country</th>
        <th>State</th>
        <th>City</th>
        <th>Locality</th>
        <th>Street No</th>
        <th>House No</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.country if address.country.present? %></td>
          <td><%= address.state if address.state.present? %></td>
          <td><%= address.city if address.city.present? %></td>
          <td><%= address.locality if address.locality.present? %></td>
          <td><%= address.street if address.street.present? %></td>
          <td><%= address.house_no if address.house_no.present? %></td>
          <td><%= address.zip_code if address.zip_code.present? %></td>         
        </tr>
      <% end %>
    </tbody>
  </table>
