<!DOCTYPE html>
<html>
  <head>
    <title>BerylHrManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if employee_signed_in?%>
    <button class="button"><%= link_to"Admin Dashbord ", "/admin"%> </button>
    <% end %>
    <%= render partial: 'layouts/shared/header'%>
    <%= yield %>
    <% if employee_signed_in?%>
      <br>
      <center>
        <button class="button"><%= link_to('Logout',destroy_employee_session_path, :method => :delete)%> </button>
      </center>
    <% end %>
  </body>
</html>
