<%= link_to "Home Page", "/home/index" ,class: "btn btn-info"%>
<% if user_signed_in?%> 
  <%= link_to "Enter New Record", "/principal/new" ,class: "btn btn-info"%>
  <h1 class="text-center text-white">All Record</h1>
  


  <table class="table table-dark table-hover" id="dttp">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Delete Record</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email,"/#{user.id}" %></td><br>
          <td> <%= user.role.name if present? %></td>
          <td><%= link_to 'Delete',"/#{user.id}/principal/index", method: :delete, data: {confirm: 'Are You Sure?'} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>