<%= link_to "Home Page", "/home/index" %><br>
    <% if user_signed_in?%> 
    <%= link_to "Enter New Record", "/teachers/new"%>
    <h1>All Record</h1>
    <table id="dttb" class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Roll No</th>
          <th>Marks</th>
          <th>Delete Record</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.first_name,"/#{user.id}" %> <%= link_to user.last_name,"/#{user.id}" %></td><br>
            <td><%=  user.st_class %></td><br>
            <td><%=  user.roll_no %></td><br>
            <td><%= link_to "Marks", "/#{user.id}/index"%><br></td>
            <td><br><%= link_to 'Delete',"/#{user.id}/index", method: :delete, data: {confirm: 'Are You Sure?'} %><br><br></td>
            <td><%= user.role.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
     <% end %>