<%= form_with model: @subject, url: "" ,:html => {:id => "new_marks"} do|f| %>
<div>
  <%= f.select :examtype_id, options_from_collection_for_select(Examtype.all, :id, :name), {prompt: 'Select Exam Type', required: true} %>
  <br><br>
</div>
<%= f.label :hindi%>
<%= f.text_field :hindi %><br>
<%= f.label :english%>
<%= f.text_field :english %><br>
<%= f.label :maths%>
<%= f.text_field :maths %><br>
<%= f.label :science%>
<%= f.text_field :science %><br>
<%= f.label :sst%>
<%= f.text_field :sst %><br>
<%= f.label :computer%>
<%= f.text_field :computer %><br>
<%= f.label :gk%>
<%= f.text_field :gk %><br>
<%= f.label :pt%>
<%= f.text_field :pt %><br>
<%= f.label :drawing%>
<%= f.text_field :drawing %><br>
<%= f.label :sanskrit%>
<%= f.text_field :sanskrit %><br>

<%= f.submit "Submit"%>
<% end %>