

<table id="dtts" class="table table-hover">
    <thead>
      <tr>
      	<th>Exam Type</th>
        <th>Hindi</th>
        <th>English</th>
        <th>Maths</th>
        <th>Science</th>
        <th>General Knowledge</th>
        <th>Social Science</th>
        <th>Drawing</th>
        <th>Computer</th>
        <th>Physical Education</th>
        <th>Sanskrit</th>
        <th>Total</th>
        <%if current_user.role.name != "Student"%>
        <th>Update</th>
        <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.examtype.name if subject.examtype.present? %></td><br>
          <td><%= subject.hindi if subject.hindi.present? %></td><br>
          <td><%= subject.english if subject.english.present? %><br></td>
          <td><%= subject.maths if subject.maths.present? %><br></td>
          <td><%= subject.science if subject.science.present? %><br></td>
          <td><%= subject.gk if subject.gk.present? %><br></td>
          <td><%= subject.sst if subject.sst.present? %><br></td>
          <td><%= subject.drawing if subject.drawing.present? %><br></td>
          <td><%= subject.computer if subject.computer.present? %><br></td>
          <td><%= subject.pt if subject.pt.present? %><br></td>
          <td><%= subject.sanskrit if subject.sanskrit.present? %><br></td>          
          <td><br></td>
          <%if current_user.role.name != "Student"%>
          <td><%= link_to "Update Marks", "/#{subject.user_id}/subject/edit"%><br></td>
          <td><br><%= link_to 'Delete this record',@subject, method: :delete, data: {confirm: 'Are You Sure?'} %><br><br></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
