<table id="dtts" class="table table-dark table-hover">
    <thead>
      <tr>
      	<th>Exam Type</th>
        <th>Hindi</th>
        <th>English</th>
        <th>Maths</th>
        <th>Science</th>
        <th>General Knowledge</th>
        <th>Social Science</th>
        <th>Drawing</th>
        <th>Computer</th>
        <th>Physical Education</th>
        <th>Sanskrit</th>
        <th>Total</th>
        <%if current_user.role.name != "Student"%>
        <th>Update</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.examtype.name if subject.examtype.present? %></td>
          <td><%= subject.hindi if subject.hindi.present? %></td>
          <td><%= subject.english if subject.english.present? %></td>
          <td><%= subject.maths if subject.maths.present? %></td>
          <td><%= subject.science if subject.science.present? %></td>
          <td><%= subject.gk if subject.gk.present? %></td>
          <td><%= subject.sst if subject.sst.present? %></td>
          <td><%= subject.drawing if subject.drawing.present? %></td>
          <td><%= subject.computer if subject.computer.present? %></td>
          <td><%= subject.pt if subject.pt.present? %></td>
          <td><%= subject.sanskrit if subject.sanskrit.present? %></td>    
          <td><%=  (subject.hindi) +(subject.english) %></td>      
          <%if current_user.role.name != "Student"%>
          <td><%= link_to "Update Marks", "/#{subject.user_id}/subject/edit"%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
