<center>
	<% if employee_signed_in?%>
		<h3>
			Hello
			<%= link_to current_employee.first_name,"home/#{current_employee.id}" %> <%= link_to current_employee.last_name ,"home/#{current_employee.id}" %><br>
				Your Employee Code is <%= current_employee.employee_code%>
		</h3>
		<br>
		<% if current_employee.role.name == "HR"%>
			<%= render partial: 'layouts/shared/employee_table'%>
		<% end %>
		<% if current_employee.role.name == "MD"%>
			<%= render partial: 'layouts/shared/employee_table'%>
		<% end %>
	<% end %><br>
	<% if !employee_signed_in?%>
		Login Again<br>
		<%= link_to "Login ", new_employee_session_path%>   
	<% end %><br>
		<%#= will_paginate @employees %>
		<%#= link_to "Show All" " "%><br>
</center>
<script>
  $('#employees').DataTable({
	  responsive: true
	});
</script>


