<center>
<h2>Enter Details</h2>
<%= form_for @employee ,url: "" ,:html => {:id => "submit"} do|form|%>

<%= form.label :employee_code, "Employee Code" %><br>
<%= form.text_field :employee_code, name:"employee_code" %><br><br>

<%= form.label :first_name %><br>
<%= form.text_field :first_name, name:"first_name"%><br><br>

<%= form.label :last_name %><br>
<%= form.text_field :last_name, name:"last_name" %><br><br>

<%= form.label :email %><br>
<%= form.text_field :email, name:"email"%><br><br>

 <%#= form.password_field :password,placeholder:"Enter Password"%><!-- <br><br -->

<%= form.select :gender_id, options_from_collection_for_select(Gender.all, :id, :name), {prompt: 'Select Gender', required: true} %>
<br><br>

<%= form.label :dob, "Date of Birth"%><br>
<%= form.date_field :dob, name:"dob"%><br><br>

<%= form.label :permanent_address, "Permanent Address"%><br>
<%= form.text_field :permanent_address, name:"permanent_address"%><br><br>

<%= form.fields_for :addresses do |address| %>
      <div>
        <%= address.label :ad_name, "Current Address" %><br>
        <%= address.text_field :ad_name, name:"ad_name"%>
      </div>
<% end %><br>

<%= form.select :role_id, options_from_collection_for_select(Role.all, :id, :name), {prompt: 'Select Role', required: true} %>
<br><br>

<%= form.select :designation_id, options_from_collection_for_select(Designation.all, :id, :name), {prompt: 'Select Designation', required: true} %>
<br><br>

<%= form.select :department_id, options_from_collection_for_select(Department.all, :id, :name), {prompt: 'Select Department', required: true} %>
<br><br>

<%= form.label :current_salary, "Current Salary" %><br>
<%= form.text_field :current_salary, name:"current_salary"%><br><br>

<div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, name:"password",autocomplete: "new-password" %>
  </div>
<br>
  
<%= form.submit "Submit Your Details"%>

<% end %>
</center>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script type="text/javascript">
	$("#submit").validate({
		rules:{
			first_name:{
				required:true,
				minlength:2,
				maxlength:30
			},
			last_name:{
				required:true,
				minlength:2,
				maxlength:30
			},
			employee_code:{
				number:true,
				required:true,
				minlength:3,
				maxlength:4
			},
			email:{
				required:true
			},
			password:{
				required:true,
				minlength:6,
				maxlength:15
			},
			current_salary:{
				required:true,
				number:true,
				minlength:4,
				maxlength:8
			},
			permanent_address:{
				required:true,
			},
			ad_name:{
				required:true
			}
		}
	});
</script>>